@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --hudColor: rgba(255, 255, 255, 0.116);
    --hudBorderColor: rgba(255, 255, 255, 0.096);
    --hudTextColor: white;

    --hudTitleColor: rgba(28, 29, 43, 0.616);
    --hudTitleTextColor: white;
    
    --statsColor: rgba(128, 128, 128, 0.171);
    --statsBorderColor: rgba(255, 255, 255, 0.096);
    --statsTextColor: white;

    --statsHeaderColor: rgba(28, 29, 43, 0.616);
    --statsHeaderTextColor: white;

    --dialogHeaderColor: rgba(161, 161, 161, 0.397);
    --dialogHeaderBorderColor: rgba(255, 255, 255, 0.096);
    --dialogHeaderTextColor: white;

    --dialogBodyColor: #40444be1;
    --dialogBodyBorderColor: none;
    --dialogBodyTextColor: white;

    --buttonColor: #32353b;
    --buttonTextColor: white;

    --buttonDisableColor: #40444b;
    --buttonDisableTextColor: white;

    --notificationBodyColor: #40444ba4;
    --notificationBodyTextColor: white;

    --notificationHeaderColor: #32353b;
    --notificationHeaderTextColor: #c6c4c9;

    --fightHudInfosColor: rgba(161, 161, 161, 0.397);
    --fightHudInfosBorderColor: rgba(179, 179, 179, 0.5);
    --fightHudInfosTextColor: white;

    --navbarTextColor: #c6c4c9;
    --navbarDropdownColor: #40444b;
    --navbarColor: #32353b;

    --specialObjectTextColor: #FCA4A6;

    --body-font: 'Poppins', sans-serif;
    --nav-width: 250px;

    --first-color: #FCA4A6;
    --first-color-dark: #C1576A;
    --first-color-darken: #A83E51;
    --white-color: #FCF8F8;
    --big-font-size: 2.5rem;
    --normal-font-size: .938rem;
}