@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(40, 42, 61);
    color: white;
    object-fit:fill;
    font-family: 'Roboto', sans-serif;
}

.version {
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    color: white;
    text-align: right;
}

#hero-js-form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hero-js-form img {
    /* width: 300px; */
    position: fixed;
    z-index: -1;
    animation: dialog-img 3s ease-in-out infinite;
}

.hero-js-1 {
    filter: drop-shadow(1rem 1rem 1rem black);
    width: 500px;
    bottom: -5rem;
    right: -10rem;
}

.hero-js-2 {
    filter: drop-shadow(-1rem 1rem 1rem black);
    width: 500px;
    bottom: -10rem;
    left: -10rem;
}

#hero-js-form p {
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.486);
    opacity: 0.8;
}

#hero-js-form a {
    text-decoration: none;
    opacity: 1;
    color: white;
}

#hero-js-form h1 {
    position: fixed;
    top: 20%;
    font-size: 4rem;
    font-family: 'Bebas Neue', cursive;
    animation: title-animation 2s infinite ease-in-out;
}

@keyframes title-animation {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.custom-file-input {
    visibility: hidden;
}

.custom-file-input-label {
    border: solid;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.342);
    transition-duration: 0.2s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.11);
}

.custom-file-input-label:hover {
    transform: scale(1.02);
}

/***********************************/
/*            Player HUD           */
/***********************************/

.hero-js-default {
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

.hero-js-player {
    z-index: 3;
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.hero-js-stats {
    display: inline-block;
    background: rgba(128, 128, 128, 0.171);
    backdrop-filter: blur(30px);
    text-align: center;
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    margin-bottom: 1rem;
}

.hero-js-stats-header {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(28, 29, 43, 0.616);
}

.hero-js-stats-body {
    /* max-height */
    /* overflow-y scroll */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.hero-js-stats-body ul {
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.hero-js-stats-body li {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 150px;
}

.hero-js-stats-body li:hover {
    overflow: visible; 
    white-space: unset; 
    width: auto;
}

.hero-js-item-special {color: rgb(166, 235, 126);}
.hero-js-item-broken {color: rgb(235, 142, 126);}

.hero-js-player-left {left: 0;}
.hero-js-player-right {right: 0;}
.hero-js-player-left .hero-js-stats {box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.185); border-left: none; border-radius: 0 1rem 1rem 0;}
.hero-js-player-right .hero-js-stats {box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.185); border-right: none; border-radius: 1rem 0 0 1rem;}
.hero-js-player-left .hero-js-stats-header {border-radius: 0 1rem 0 0;}
.hero-js-player-right .hero-js-stats-header {border-radius: 1rem 0 0 0;}

/***********************************/
/*          GAME INFOS HUD         */
/***********************************/

.hero-js-hud-title {
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
    background: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(10px);
    text-align: center;
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    border-radius: 0 0 1rem 1rem;
    border-top: none;
}

#hero-js-game-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(28, 29, 43, 0.616);
    padding: 1rem;
    border-radius: 0 0 0 1rem;
}

#hero-js-game-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/***********************************/
/*            DIALOGUE             */
/***********************************/

.hero-js-dialog {
    width: 800px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.hero-js-dialog-img {
    position: fixed;
    z-index: 1;
}

.hero-js-dialog-img img {
    height: 70vw;
    max-height: 70vh;
    filter: drop-shadow(1rem 1rem 1rem black);
    animation: dialog-img 2s ease-in-out infinite;
}

@keyframes dialog-img {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero-js-dialog-header {
    background: rgba(128, 128, 128, 0.171);
    backdrop-filter: blur(30px);
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    width: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.hero-js-dialog-body {
    width: 95%;
    text-align: justify;
    background: rgba(28, 29, 43, 0.616);
    font-size: 1.2rem;
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    backdrop-filter: blur(30px);
    padding: 1rem;
    border-radius: 1rem;
}

.hero-js-dialog-action {
    font-style: italic;
    margin: 1rem;
    margin-bottom: 0;
    filter: drop-shadow(0 1px 1px black);
}

.hero-js-dialog-button-zone {
    margin: 1rem;
    width: 100%;
    display: flex;
}

.hero-js-dialog-button-zone button {
    flex: 1;
    background-color:rgb(40, 42, 61);
    text-decoration: none;
    border: none;
    font-style: inherit;
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    opacity: 0.8;
}

.hero-js-dialog-button-zone button:hover {
    opacity: 1;
    cursor: pointer;
}