@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(40, 42, 61);
    color: white;
    object-fit:fill;
    font-family: 'Roboto', sans-serif;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.version {
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    color: white;
    text-align: right;
    font-size: 0.8rem;
}

#hero-js-form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.445);
}

#hero-js-form p {
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 0.8rem;
    color: rgb(255, 255, 255);
    opacity: 0.8;
}

#hero-js-form a {
    text-decoration: none;
    opacity: 1;
    color: rgb(132, 167, 196);
    text-decoration: underline;
}

#hero-js-form h1 {
    font-size: 11rem;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    filter: drop-shadow(1px 1px 0 black);
}

.title {
    position: fixed;
    top: 20%;
    animation: title-animation 5s infinite ease-in-out;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes title-animation {
    0% {transform: translateY(0px);}
    50% {transform: translateY(10px);}
    100% {transform: translateY(0px);}
}

.hero-js-subtitle {
    font-size: .8rem;
    transform: translateY(-25px);
}

.custom-file-input {
    visibility: hidden;
}

.custom-file-input-label {
    position: fixed;
    border: solid;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.342);
    transition-duration: 0.2s;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.21);
    top: 70%;
    backdrop-filter: blur(20px);
}

.custom-file-input-label:hover {
    /* transform: scale(1.02); */
    animation: button-animation 1.5s infinite ease-in-out;
}

@keyframes button-animation {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

/***********************************/
/*            Player HUD           */
/***********************************/

.hero-js-default {
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
}

#hero-js-more {
    display: none;
}

.hero-js-player {
    z-index: 3;
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.hero-js-stats {
    display: inline-block;
    background: var(--statsColor);
    backdrop-filter: blur(30px);
    text-align: center;
    border: solid var(--statsBorderColor) 0.1rem;
    margin-bottom: 1rem;
    color: var(--statsTextColor)
}

.hero-js-stats-header {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--statsHeaderColor);
    color: var(--statsHeaderTextColor)
}

.hero-js-stats-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.hero-js-stats-body ul {
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100;
}

.hero-js-stats-body li {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 150px;
}

.hero-js-stats-body li:hover {
    overflow: visible; 
    white-space: unset; 
    width: auto;
}

.hero-js-item-special {color: rgb(166, 235, 126);}
.hero-js-item-broken {color: rgb(235, 142, 126);}

.hero-js-player-left {left: 0;}
.hero-js-player-right {right: 0;}
.hero-js-player-left .hero-js-stats {box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.185); border-left: none; border-radius: 0 1rem 1rem 0;}
.hero-js-player-right .hero-js-stats {box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.185); border-right: none; border-radius: 1rem 0 0 1rem;}
.hero-js-player-left .hero-js-stats-header {border-radius: 0 1rem 0 0;}
.hero-js-player-right .hero-js-stats-header {border-radius: 1rem 0 0 0;}

/***********************************/
/*          GAME INFOS HUD         */
/***********************************/

.hero-js-hud-title {
    z-index: 3;
    display: flex;
    position: fixed;
    top: 0;
    font-size: 1.2rem;
    background: var(--hudColor);
    backdrop-filter: blur(10px);
    text-align: center;
    border: solid var(--hudBorderColor) 0.1rem;
    border-radius: 0 0 1rem 1rem;
    border-top: none;
    color: var(--hudTextColor)
}

#hero-js-game-title {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--hudTitleColor);
    color: var(--hudTitleTextColor);
    padding: 1rem;
    border-radius: 0 0 0 1rem;
}

#hero-js-game-number {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

/***********************************/
/*            DIALOGUE             */
/***********************************/

.hero-js-dialog {
    width: 800px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.hero-js-dialog-img {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: dialog-img 2s ease-in-out infinite;
}

.hero-js-dialog-img img {
    height: 70vw;
    max-height: 70vh;
    filter: drop-shadow(1rem 1rem 1rem black);
    /* animation: dialog-img 2s ease-in-out infinite; */
}

@keyframes dialog-img {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

.hero-js-dialog-header {
    background: var(--dialogHeaderColor);
    backdrop-filter: blur(30px);
    border: solid var(--dialogHeaderBorderColor) 0.1rem;
    width: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--dialogHeaderTextColor);
}

.hero-js-dialog-body {
    width: 95%;
    text-align: justify;
    background: var(--dialogBodyColor);
    font-size: 1.2rem;
    border: solid var(--dialogBodyBorderColor) 0.1rem;
    backdrop-filter: blur(30px);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--dialogBodyTextColor);
}

.hero-js-dialog-action {
    font-style: italic;
    margin: 1rem;
    margin-bottom: 0;
    filter: drop-shadow(0 1px 1px black);
}

.hero-js-dialog-button-zone {
    margin: 1rem;
    width: 100%;
    display: flex;
}

.hero-js-button {
    flex: 1;
    text-decoration: none;
    border: none;
    font-style: inherit;
    font-size: 1.2rem;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.hero-js-activate {
    opacity: 0.9;
    background-color: var(--buttonColor);
    color: var(--buttonTextColor);
}

.hero-js-not-activate {
    opacity: 0.3;
    background-color: var(--buttonDisableColor);
    color: var(--buttonDisabletextColor);
    cursor: not-allowed;
    transform: rotate(2deg);
}

.hero-js-activate:hover {
    opacity: 1;
    cursor: pointer;
}

/***********************************/
/*         DIALOGUE OPTIONS        */
/***********************************/

.subtext {
    /* font-size: 80%; */
    color: rgba(189, 189, 189, 0.5);
    font-style: italic;
}

.item {
    font-weight: bold;
    font-style: normal;
    color: rgb(126, 199, 108);
}

.amount {
    font-style: italic;
    font-weight: bold;
    color: rgb(248, 248, 152);
}

.skill {
    font-weight: bold;
    font-style: normal;
    color: rgb(108, 108, 199);
}

/***********************************/
/*           NOTIFICATION          */
/***********************************/

#hero-js-notification {
    position: fixed;
    left: 0;
    top: -120px;
    display: flex;
    margin: 5px;
    border-radius: 1rem;
    backdrop-filter: blur(30px);
    flex-direction: column;
    animation: notification-animation 4s linear;
    background: var(--notificationBodyColor);
    font-size: 1.2rem;
    z-index: 100;
}

.notif-title {
    border-radius: 1rem 1rem 0 0;
    /* background: rgba(255, 255, 255, 0.774); */
    background: var(--notificationHeaderColor);
    backdrop-filter: blur(50px);
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    color: var(--notificationHeaderTextColor);
}

.notif-body {
    margin: 1rem;
    display: inline-block;
    height: 25px;
    color: var(--notificationBodyTextColor);
    margin-right: 1.5rem;
}

@keyframes notification-animation {
    0% {transform: translateY(0px); display: flex;}
    8% {transform: translateY(120px); display: flex;}
    92% {transform: translateY(120px); display: flex;}
    100% {transform: translateY(0px); display: none;}
}

/***********************************/
/*              FIGHT              */
/***********************************/

#fight-stats {
    position: absolute;
    top: -30px;
    background: var(--fightHudInfosColor);
    padding: 1rem;
    border-radius: 1rem;
    border: solid var(--fightHudInfosBorderColor) 0.1rem;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(20px);
    font-size: 1.2rem;
    color: var(--fightHudInfosTextColor)
}

#fight-mode {
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    color: rgb(199, 35, 35);
    animation: fight-mode-anime 3s ease-in-out infinite;
    opacity: 0.6;
}

@keyframes fight-mode-anime {
    50% {opacity: 1; transform: scale(1.01);}
}

/***********************************/
/*           ANIMATIONS            */
/***********************************/

@keyframes shake-anime {
    59% {transform: translateX(0px);}
    60% {transform: translateX(10px);}
    70% {transform: translateX(-10px);}
    80% {transform: translateX(10px);}
    90% {transform: translateX(-10px);}
    100% {transform: translateX(10px);}
}

@keyframes defeat-anime {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes victory-anime {
    0% {transform: translateY(20px);}
    100% {transform: translateY(0px);}
}

/***********************************/
/*              DICE               */
/***********************************/

#dice {
    z-index: 500;
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 30px;
    left: 30px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;

    transform-style: preserve-3d;
    transform: rotate3d(-0.5, -0.5, -0.5, -20deg);
    animation: dice-roll-anime 0.3 linear;
    /* transform: rotate3d(-0.5, -0.5, -0.5, 20deg); */
}

@keyframes dice-roll-anime {
    50% {transform: rotate3d(-0.5, -0.5, -0.5, 360deg);}
}

.face {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#face-top {transform: rotateX(90deg) translateZ(2.5rem); background: #c4c4c4;}
#face-front {transform: translateZ(2.5rem);}
#face-right {transform: rotateY(90deg) translateZ(2.5rem); background: #c4c4c4;}
#face-back {transform: translateZ(-2.5rem); background: #c4c4c4;}
#face-left {transform: rotateY(90deg) translateZ(-2.5rem); background: #c4c4c4;}
#face-bottom {transform: rotateX(90deg) translateZ(-2.5rem); background: #979797;}

.hero-js-save {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0;
    transition-duration: 0.3s;
    background: transparent;
    border: none;
    opacity: 0.4;
}

.hero-js-save:hover {
    transform: scale(1.1) rotate(-5deg);
    opacity: 1;
    cursor: pointer;
}