#home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #be2251;
}

.homeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#homeUn {
    background: rgb(32, 32, 37);
    background: linear-gradient(180deg, rgba(32, 32, 37, 1) 83%, rgba(190, 34, 81, 1) 95%);
}

#homeUn img {
    max-height: 100vh;
    width: auto;
    object-fit: cover;
}

.homeNameText {
    position: absolute;
    opacity: 0.1;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 25vw;
    height: auto;
    transition-duration: .2s;
}

#homeImg {
    z-index: 0;
    position: absolute;
    bottom: 0;
    min-height: 80%;
    animation: dialog-img 2s ease-in-out infinite;
    transition-duration: .5s;
}

#homeImg:hover {
    scale: 1.02;
}

@keyframes dialog-img {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0px);
    }
}

#home__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 4rem;
}

.home__button {
    font-size: 1.5rem;
    background-color: #be2251;
    color: white;
    padding: .7rem 1.5rem;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.568);
    min-width: 50%;
    text-align: center;
    transition-duration: .3s;
}

.home__button:hover {
    background-color: #aa1743;
    cursor: pointer;
    scale: 1.1;
}

.bxl-github {
    position: absolute;
    top: .7rem;
    right: .5rem;
    color: #be2251;
    font-size: 2rem;
    opacity: .3;
    transition-duration: .3s;
    cursor: pointer;
}

.bxl-github:hover {
    opacity: 1;
    scale: 1.1;
}

#homeTrois {
    background: rgb(32, 32, 37);
    background: linear-gradient(0deg, rgba(32, 32, 37, 1) 83%, rgba(190, 34, 81, 1) 95%);
}

#homeTrois .homeNameText {
    position: absolute;
    opacity: 0.1;
    backdrop-filter: blur(10px);
    color: white;
    font-size: 42vw;
    height: auto;
    transition-duration: .2s;
}


/* Games */

#homeTrois {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* overflow-y: scroll; */
    height: auto;
    padding: 5rem;
    padding-top: 10vh;
    padding-bottom: 10vh;
    transition-duration: .5s;
    background: #be2251;
}

.homeGame {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition-duration: .3s;
    text-align: center;
    border-radius: .5rem;
    flex: 1 25%;
    min-width: 30%;
    max-width: 35%;
    z-index: 1;
    color: white;
    margin: 1rem;
    transition-duration: .5s;
    overflow: hidden;
    height: 18rem;
    object-fit: cover;
    position: relative;
    box-shadow: #00000041 0px 0px 20px 0px;
}

.homeGame:hover {
    scale: 1.05;
    rotate: 2deg;
}

.homeGame img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: .5rem; */
}

.homeGameText {
    font-size: 1.2rem;
    margin-top: .5rem;
    font-weight: bold;
    position: absolute;
    border-bottom: solid;
    background: rgba(226, 226, 236, 0.274);
    backdrop-filter: blur(20px);
    padding: .5rem 1rem .1rem 1rem;
    border-radius: 1rem 1rem 0 0;
    bottom: 0;
}


/* Smartphone */

@media screen and (max-width: 768px) {
    .homeNameText {
        transform: rotate(90deg);
        font-size: 50vw;
    }
    .homeGame {
        flex: 1 100%;
        width: 100%;
        min-width: unset;
        max-width: unset;
    }
    .homeGame:hover {
        scale: 1.05;
        rotate: 2deg;
    }
    #homeTrois {
        padding: 1rem;
        padding-top: 5vh;
        padding-bottom: 2vh;
    }
}