@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(40, 42, 61);
    color: white;
}

.hero-js-player {
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.hero-js-stats {
    display: inline-block;
    background: rgba(255, 255, 255, 0.116);
    backdrop-filter: blur(10px);
    text-align: center;
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    margin-bottom: 1rem;
}

.hero-js-stats-header {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(28, 29, 43, 0.616);
}

.hero-js-stats-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.hero-js-stats-body ul {
    text-transform: capitalize;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero-js-stats-body li {
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    width: 150px;
}

.hero-js-stats-body li:hover {
    overflow: visible; 
    white-space: unset; 
    width: auto;
}

.hero-js-player-left {left: 0;}
.hero-js-player-right {right: 0;}
.hero-js-player-left .hero-js-stats {box-shadow: -0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.185); border-left: none; border-radius: 0 1rem 1rem 0;}
.hero-js-player-right .hero-js-stats {box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.185); border-right: none; border-radius: 1rem 0 0 1rem;}
.hero-js-player-left .hero-js-stats-header {border-radius: 0 1rem 0 0;}
.hero-js-player-right .hero-js-stats-header {border-radius: 1rem 0 0 0;}