#preview {
    display: none;
    background: #40414b9c;
    z-index: 1;
    border: solid;
    width: 1280px;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    zoom: 0.4;
    position: fixed;
    bottom: 50px;
    right: 50px;
    backdrop-filter: blur(10px);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.274);
    transition-duration: 1s;
}

#preview:active {
    zoom: 1;
}

#preview img {
    position: relative;
    width: 30vw;
    animation: dialog-img 2s ease-in-out infinite;
}

@keyframes dialog-img {
    0% {transform: translateY(0px);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

#preview .hero-js-dialog {
    width: 80%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#preview .hero-js-dialog-header {
    background: rgba(161, 161, 161, 0.397);
    backdrop-filter: blur(30px);
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    min-width: 50%;
    border-radius: .3rem;
    padding: 0.2rem;
    padding-right: .5rem;
    padding-left: .5rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
}

#preview .hero-js-dialog-body {
    width: 95%;
    text-align: justify;
    background: #40444be1;
    font-size: 0.9rem;
    border: solid none 0.1rem;
    backdrop-filter: blur(30px);
    padding: 1rem;
    border-radius: .3rem;
    color: white;
}

#preview .hero-js-dialog-action {
    font-style: italic;
    margin: 1rem;
    margin-bottom: 0;
    filter: drop-shadow(0 1px 1px black);
}

#preview .hero-js-dialog-button-zone {
    width: 97%;
    display: flex;
    justify-content: center;
    margin: 1rem;
    overflow-x: unset;
}

#preview .hero-js-dialog-button-zone button {
    flex: 1;
    text-decoration: none;
    border: none;
    font-style: inherit;
    font-size: 0.9rem;
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    opacity: 0.9;
    background-color: #32353b;
    color: white;
    min-width: unset;
}

#preview .dialog-id {
    /* border: solid; */
    position: absolute;
    top: .5rem;
    right: .5rem;
    padding: 0.5rem 1rem;
    background-color: #32353b;
    color: white;
    border-radius: .5rem;
    zoom: 2.5;
}

.preview-button {
    cursor: pointer;
}

#news {
    width: 80%;
    flex-direction: column;
}

.news {
    background: #303137;
    /* border: solid; */
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem;
    margin: .5rem;
    transition-duration: .5s;
}

.news:hover {
    transform: scale(1.03);
}

.news-title {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: .1rem;
}

.news-date {
    font-size: .9rem;
    padding-bottom: .8rem;
    opacity: 0.3;
}

.news-body {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* text-align: center; */
}

.news-body a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 3px;
    padding-right: 3px;
}