/* <div class="edit-menu">
        <button id="edit-edit"><i class="fa-solid fa-pen-to-square"></i></button>
        <button id="edit-remove"><i class="fa-solid fa-ban"></i></button>
    </div> */

.edit:hover {
    background: var(--white-5);
}

#edit-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    /* border: solid; */
    z-index: 1000;
    background: var(--navbar-collapse-color);
    border-radius: .3rem;
    /* border: solid var(--accent-color) .1rem; */
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.377);
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    /* color: var(--accent-color); */
    color: var(--text-color);
}

#edit-edit {
    padding-left: .5rem;
    padding-right: .5rem;
}

#edit-edit:hover {
    cursor: pointer;
    background: var(--edit-hover);
}

#edit-remove {
    /* display: none; */
    color: var(--accent-color);
    padding-left: .5rem;
    padding-right: .5rem;
}

#edit-remove:hover {
    cursor: pointer;
    background: var(--edit-hover);
}

#remove-modal p {
    padding: 0;
    margin: .5rem;
}

#remove-modal {
    border-radius: .3rem;
    /* background: var(--navbar-collapse-color); */
    background: var(--accent-color-50);
    backdrop-filter: blur(5px);
    border: solid var(--accent-color) .2rem;
    color: var(--text-color-light);
    /* display: flex; */
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1001;
    margin-left: 6.5rem;
    padding-top: -.5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .5rem;
    width: 20rem;
    text-align: center;
    box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, 0.377);
}

#remove-modal button {
    background: none;
    color: inherit;
    border: none;
    padding: .3rem;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    border-radius: .3rem;
    /* border: solid; */
    background: var(--accent-color);
    transition-duration: .2s;
}

#remove-modal button:hover {
    transform: scale(1.1);
}