body {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    /* height: 100%; */
    flex-direction: column;
    overflow-x: hidden;
    background: #36383f;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#return {
    position: fixed;
    top: 1.2rem;
    z-index: 10;
}

/* ===== SECTIONS ===== */

.section {
    /* margin-top: 15rem; */
    display: none;
    transition: max-height 0.3s ease-out;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.section:first-child {
    display: flex;
}

/* ===== SCROLL BAR ===== */

::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #36383f;}
::-webkit-scrollbar-thumb {background: #1d1d22; border-radius: .5rem;}
::-webkit-scrollbar-thumb:hover {background: #202225;}

/* ===== FORM ===== */

.dataform {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: saddlebrown solid; */
    width: 80%;
}

.data {
    display: flex;
    margin: .2rem;
}

.data input {
    width: auto;
}

.color {
    width: 20%;
    height: 2rem;
    padding: .2rem;
    /* border-radius: 1rem; */
}

input, select, textarea {
    margin: .2rem;
    background-color: #40434b;
    width: 100%;
    flex: 1;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
    font-size: 1rem;
    color: white;
    font-family: 'Poppins', sans-serif;
}

input::placeholder,
textarea::placeholder {
    color: #878b96;
    font-size: .9rem;
    font-family: 'Poppins', sans-serif;
}

.music .data {
    width: 100%;
}

.music .data input {
    width: 100%;
}

.music .data input:first-child {
    flex: 4;
    margin-right: 1.5rem;
}

.music .data input:last-child {
    flex: 1;
}

/* ===== DATA LIST ===== */

.datalist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* border: saddlebrown solid; */
}

.dataAdd {
    display: flex;
    width: 100%;
}

.add {
    border: none;
    color: white;
    background: none;
    font-size: 1.5rem;
}

.add:hover {
    cursor: pointer;
}

.dialogList {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dialogList select {
    width: 100%;
    /* padding: 0; */
    /* margin: 0; */
}

/* .dialogList input,
.dialogList textarea {
    width: 50%;
} */

#dialogBody {
    resize: vertical;
    /* height: 7rem; */
    width: 100%;
    /* margin: 0; */
}

.dataAdd.music input {flex: 2;}
.dataAdd.music input[type='range'] {flex: 1; margin-left: 1rem;}

table {width: 100%; border-radius: .5rem;}
tr, td, th {text-align: center;}
td, th {padding: .2rem;}
.tableHeader {background: #2f2f36;}
.tableHeader th:first-child {border-radius: .5rem 0 0 0;}
.tableHeader th:last-child {border-radius: 0 .5rem 0 0;}

#skillsList td {width: 33%;}
#objectList td {width: 16.6%;}
#colorList td {width: 50%;}
#pictureList td {width: 50%; overflow: hidden;}
#soundList td {width: 33%;}

#dialogList td {width: 25%; max-width: 22vw; text-overflow: ellipsis; overflow: hidden;}
#dialogList td:first-child {width: 5%;}

#optionsList td {width: 80%;}
#optionsList td:first-child {width: 10%;}
#optionsList td:last-child {width: 10%;}

#pictureList img {
    height: 8rem;
    width: auto;
    object-fit: cover;
}

.big-btn {
    border: none;
    background: #40424b;
    color: white;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: .5rem;
    transition-duration: 0.5s;
}

.big-btn:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.grid-4 {
    display: flex;
    width: 100%;
    margin-top: .5rem;
}

.grid-4 select {
    flex: 1;
    width: 25%;
}

.grid-2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    /* margin-top: 1rem; */
}

.grid-2 .add {
    width: 50%;
    background: #40424b;
    border-radius: .5rem;
    padding: .4rem;
    font-size: 1rem;
}

.grid-2 .add:first-child {
    margin-right: .25rem;
}

.grid-2 .add:last-child {
    margin-left: .25rem;
}

#optionConditionZone,
#optionEffectZone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#optionConditionZone input,
#optionEffectZone input,
#optionConditionZone select,
#optionEffectZone select {
    width: 100%;
    flex: 1;
}

#optionConditionZone .data,
#optionEffectZone .data {
    width: auto;
    text-align: center;
    justify-content: center;
    /* margin-left: 1rem; */
    /* border: solid; */
}

#optionConditionZone .data input,
#optionEffectZone .data input {
    /* border: solid; */
    /* margin: 0; */
    padding: 0;
    flex: 1;
}

#optionConditionZone .data label,
#optionEffectZone .data label {
    width: 8rem;
    /* border: solid; */
    flex: 3;
}

.dialogOption {
    width: 97%;
    background: #20222544;
    padding: 1rem;
    border-radius: .7rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.7rem;
}

.dialogOption .add {
    width: 10%;
    background: #40424b;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    margin: 0.2rem;
    margin-top: 0.5rem;
}

.option-grid-2 input:first-child {
    flex: 1;
}

.option-grid-2 input:last-child {
    flex: 20;
}

#news {
    width: 80%;
    flex-direction: column;
}

.news {
    background: #303137;
    /* border: solid; */
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 1.3rem;
    margin: .5rem;
    transition-duration: .5s;
}

.news:hover {
    transform: scale(1.01);
}

.news-title {
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: .1rem;
}

.news-date {
    font-size: .9rem;
    padding-bottom: .8rem;
    opacity: 0.3;
}

.news-body {
    margin: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* text-align: center; */
}

.news-body a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-decoration: underline;
    padding-left: 3px;
    padding-right: 3px;
}