polygon {
    fill: transparent;
}

.node {
    fill: black;
}

.node ellipse {
    fill: rgba(255, 255, 255, 0.788);
}

.node polygon {
    fill: rgba(139, 139, 139, 0.527);
    stroke: black;
}

.node polygon:hover {
    stroke-dasharray: 5;
    cursor: pointer;
    fill: rgb(139, 139, 139);
}

.node ellipse:hover {
    stroke-dasharray: 5;
    cursor: pointer;
    fill: rgb(255, 255, 255);
}

.edge {
    fill: white;
    stroke: white;
}

.edge polygon {
    fill: white;
}

#graph {
    background: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
    border: solid;
    border-color: rgba(255, 255, 255, 0.205);
    box-shadow: 0rem .5rem .5rem rgba(0, 0, 0, 0.308);
    text-align: center;
    border-radius: .5rem;
    overflow: hidden;
    width: auto;
    height: auto;
}

#dialogGraph {
    flex-direction: column;
}