#headerbar {
    height: 50px;
    margin-left: 68px;
    width: calc(100% - 68px);
    position: fixed;
    /* border: solid; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--container-dark);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.116);
    z-index: 99;
}

.header_element {
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    width: 80px;
}

.header_element:hover {
    cursor: pointer;
}

.header_text {
    margin-top: -5px;
}

.header_bottom {
    position: absolute;
    width: 60px;
    bottom: 0;
    background: var(--text-color);
    height: 5px;
    border-radius: .5rem .5rem 0 0;
}

.header_active .header_bottom {
    background: var(--accent-color);
}

.header_active {
    color: var(--accent-color);
}