#headerbar {
    height: 50px;
    margin-left: 68px;
    width: calc(100% - 68px);
    position: fixed;
    /* border: solid; */
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--container-dark);
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.116);
    z-index: 99;
}

.header_element {
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-top: solid var(--text-color-50) .2rem;
    transition: .2s;
}

.header_element:hover {
    cursor: pointer;
    background-color: var(--header-hover-color);
    border-color: var(--accent-color);
    color: var(--header-hover-text);
}

.header_text {
    margin-top: -5px;
}

.header_active {
    background-color: var(--header-active-color);
    border-color: var(--accent-color);
    color: var(--header-active-text);
    /* font-weight: bold; */
    border-width: .4rem;
}