/* 
rose : var(--accent-color)
sub_container : var(--container-dark)
color : var(--checkbox-background)
*/

polygon {
    fill: transparent;
}

.node {
    fill: var(--accent-color);
    /* stroke: var(--accent-color); */
}

.node ellipse {
    stroke: var(--accent-color);
    fill: var(--accent-color-10);
    transition-duration: 0.2s;
}

.node ellipse:hover {
    stroke-linecap: round;
    cursor: pointer;
    fill: var(--accent-color-50);
}

.edge path {
    /* fill: var(--accent-color); */
    stroke: var(--accent-color);
}

.edge polygon {
    stroke: var(--accent-color);
    fill: var(--accent-color-10);
}

.edge:hover polygon,
.edge:hover path {
    stroke: var(--text-color);
    cursor: pointer;
}

#graph {
    border-radius: .5rem;
    overflow: hidden;
    width: auto;
    height: auto;
}