/* 
rose : #be2251
sub_container : #26272f
color : #a2a0a6
*/

polygon {
    fill: transparent;
}

.node {
    fill: #be2251;
    /* stroke: #be2251; */
}

.node ellipse {
    stroke: #be2251;
    fill: #be225115;
    transition-duration: 0.2s;
}

.node ellipse:hover {
    /* stroke-dasharray: 3; */
    stroke-linecap: round;
    cursor: pointer;
    fill: #be22516e;
}

.edge path {
    /* fill: #be2251; */
    stroke: #be2251;
}

.edge polygon {
    stroke: #be2251;
    fill: #be225115;
}

.edge:hover polygon,
.edge:hover path {
    stroke: #a1a0a6;
    cursor: pointer;
}

#graph {
    border-radius: .5rem;
    overflow: hidden;
    width: auto;
    height: auto;
}