/***********************************/


/*           NOTIFICATION          */


/***********************************/

.hero-js-notification {
    position: fixed;
    top: -120px;
    right: 20px;
    display: flex;
    border-radius: 0 0 .5rem .5rem;
    backdrop-filter: blur(30px);
    flex-direction: column;
    animation: notification-animation 5s linear;
    background: var(--container-dark);
    font-size: 0.8rem;
    z-index: 1002;
    border: solid var(--accent-color);
    font-size: 1rem;
}

.notif-title {
    background: var(--accent-color);
    backdrop-filter: blur(50px);
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
}

.notif-body {
    margin-top: .4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: .4rem;
    display: inline-block;
    height: 25px;
    color: var(--accent-color);
}

@keyframes notification-animation {
    0% {
        transform: translateY(0px);
        display: flex;
        opacity: 0;
    }
    8% {
        transform: translateY(120px);
        display: flex;
        opacity: 1;
    }
    92% {
        transform: translateY(120px);
        display: flex;
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        display: none;
        opacity: 0;
    }
}

#notif-zone {
    z-index: 1003;
}