/* INSTANT PREVIEW */

.container_preview {
    transition-duration: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0;
    overflow: hidden;
    width: 48px;
    transition-duration: .2s;
    height: 48px;
    z-index: 2;
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    opacity: 0.5;
}

.container_preview:active {
    /* display: none; */
    opacity: 1;
    height: calc(100vh - 150px);
    width: calc(100vw - 130px);
}

.container_preview:hover {
    opacity: 1;
    cursor: pointer;
}

.container_preview button {
    display: none;
}

.container_preview:active button {
    display: inline-block;
}

.container_preview:active #instantPreview {
    display: flex;
    height: 100%;
    width: 100%;
}

.container_preview:not(:active) #instantPreview .hero-js-dialog {
    display: none;
}

#instantPreview {
    display: none;
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    background: var(--soft-background);
    border: solid var(--accent-color);
    height: calc(720px / 1.5);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: .5rem;
    backdrop-filter: blur(10px);
    transition-duration: 0.2s;
    overflow: hidden;
}

#instantPreview .hero-js-dialog-img,
#preview .hero-js-dialog-img,
#previewGraph .hero-js-dialog-img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

#instantPreview img {
    position: relative;
    height: 80%;
    object-fit: cover;
    filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.288));
}

#instantPreview .dialog-id {
    display: none;
}


/* CLASSIC PREVIEW */

#preview,
#previewGraph {
    display: none;
    background: red;
    z-index: 1;
    border: solid var(--accent-color);
    width: 1280px;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    backdrop-filter: blur(10px);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.274);
    transition-duration: 0.3s;
    transform: scale(0.25) translateY(150%) translateX(150%);
    overflow: hidden;
    animation: .3s slideLeftPreview;
    max-width: calc(100vw - 68px - 2rem);
}

@keyframes slideLeftPreview {
    0% {
        translate: 20px;
        opacity: 0;
    }
    100% {
        translate: 0px;
        opacity: 1;
    }
}

#preview:hover,
#previewGraph:hover {
    transform: translateY(0%) translateX(0%) scale(1);
}

#preview img,
#previewGraph img {
    position: relative;
    height: 80%;
    object-fit: cover;
    filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.288));
    /* animation: dialog-img 2s ease-in-out infinite; */
}

@keyframes dialog-img {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

#preview .hero-js-dialog,
#previewGraph .hero-js-dialog,
#instantPreview .hero-js-dialog {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#preview .hero-js-dialog-header,
#previewGraph .hero-js-dialog-header,
#instantPreview .hero-js-dialog-header {
    background: rgba(161, 161, 161, 0.397);
    backdrop-filter: blur(30px);
    border: solid rgba(255, 255, 255, 0.096) 0.1rem;
    min-width: fit-content;
    border-radius: .5rem .5rem 0 0;
    padding: 0.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    position: absolute;
    height: 2.5rem;
    top: -2.5rem;
    left: 1rem;
}

#preview .hero-js-dialog-body,
#previewGraph .hero-js-dialog-body,
#instantPreview .hero-js-dialog-body {
    width: 100%;
    text-align: justify;
    background: #40444be1;
    font-size: 1rem;
    border: solid none 0.1rem;
    backdrop-filter: blur(30px);
    padding: 1rem;
    color: white;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    min-height: 5rem;
    display: flex;
    align-items: center;
}

#preview .hero-js-dialog-button-zone,
#previewGraph .hero-js-dialog-button-zone,
#instantPreview .hero-js-dialog-button-zone {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: unset;
}

#preview .hero-js-dialog-button-zone button,
#previewGraph .hero-js-dialog-button-zone button,
#instantPreview .hero-js-dialog-button-zone button {
    flex: 1;
    text-decoration: none;
    border: none;
    font-style: inherit;
    font-size: 0.9rem;
    color: white;
    padding: 0.5rem;
    opacity: 0.9;
    background-color: #32353b;
    color: white;
    min-width: unset;
    min-height: 2.5rem;
}

#preview .dialog-id,
#previewGraph .dialog-id {
    /* border: solid; */
    position: absolute;
    top: 2rem;
    right: 2rem;
    padding: .25rem .75rem;
    /* background-color: #32353b; */
    border: solid var(--accent-color) .125rem;
    color: var(--accent-color);
    border-radius: .5rem;
    /* zoom: 2.5; */
    transform: scale(2);
}

.preview-button {
    cursor: pointer;
}

#preview .selectedButton,
#previewGraph .selectedButton {
    /* border: none; */
    /* background: none; */
    /* border: solid var(--accent-color); */
    /* display: none; */
    /* background: white; */
    animation: dialog-img 2s ease-in-out infinite;
}

@keyframes dialog-img {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}