@import "variables";
.collapseHeader {
    position: absolute;
    top: 0;
    right: 0;
    button {
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font-size: 1rem;
        display: flex;
        color: $text-color;
        margin: 0.2rem;
        margin-right: 0.2rem;
        padding: 0.3rem;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        border-radius: 0.5rem;
        display: flex;
        &:hover,
        &:focus {
            background: $accent-color;
            color: $text-color;
        }
    }
}

.Collapsible {
    position: relative;
    width: 100%;
    .Collapsible__trigger {
        display: flex;
        width: calc(100% - 0.5rem);
        background: darken($accent-color, 10%);
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        padding-left: 0.5rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        &.is-closed {
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
    }
    .Collapsible__contentOuter {
        .Collapsible__contentInner {
            padding: 0.5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.6rem;
            transition: 0.2s ease-in-out;
            background: $container-dark;
            border-bottom-right-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
        }
    }
}
