.pad-bot-5 {
  padding-bottom: 5px;
}

.pad-bot-10 {
  padding-bottom: 10px;
}

.pad-top-5 {
  padding-top: 5px;
}

.pad-top-10 {
  padding-top: 10px;
}

.pad-left-5 {
  padding-left: 5px;
}

.pad-right-5 {
  padding-right: 5px;
}

.marg-top-10 {
  margin-top: 10px;
}

.hidden {
  display: none !important;
}

.select_element {
  min-width: 100px;
  max-width: 200px;
  width: 100%;
  height: 120px;
  padding: unset !important;
  transition: scale 0.2s ease-in-out !important;
  &:hover {
    scale: 1.03;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}