@import "variables";
.pic {
    flex: 1;
    height: 8rem;
    min-width: 8.5rem;
    max-width: 12rem;
    border-radius: 0.5rem;
    position: relative;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    p {
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        position: absolute;
        font-size: 0.9rem;
        bottom: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.5);
        text-align: center;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        backdrop-filter: blur(10px);
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 2;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem;
        transition: 0.3s ease-in-out;
        z-index: 1;
    }
    &:hover {
        cursor: pointer;
        img {
            scale: 1.1;
        }
    }
}

.modal {
    // border: solid red;
    // position: fixed;
    // background: red;
    background: rgba(0, 0, 0, 0.397);
    backdrop-filter: blur(5px);
    .rodal-dialog {
        // background: red;
        background: $body-color;
        // background: none;
        padding: 0;
        width: fit-content !important;
        height: fit-content !important;
        min-width: 300px;
        min-height: 200px;
        max-height: 95vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 0.5rem;
        transition: 0.2s ease-in-out;
    }
}
