@import "variables";
nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    background: $navbar-collapse-color;
    color: $text-color;
    width: 100%;
    align-items: center;
    padding: 0.2rem;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1rem;
    z-index: 100;
    box-shadow: 0rem 0rem 1rem 0.5rem rgba(0, 0, 0, 0.2);
    article {
        .navTitle {
            padding-left: 0.2rem;
            padding-right: 0.3rem;
            border: none;
            background: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;
            border-top: 0.3rem solid $navbar-collapse-color;
            border-bottom: 0.3rem solid $navbar-collapse-color;
        }
        .dropdown {
            display: flex;
            flex-direction: column;
            position: absolute;
            transition: 0.2s ease-in-out;
            margin-left: -0.2rem;
            min-width: 6rem;
            button {
                text-align: left;
                display: none;
                background: $accent-color;
                color: $text-color;
                border: none;
                font-size: 1rem;
                cursor: pointer;
                transition: 0.2s ease-in-out;
                padding: 0.2rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                &:hover {
                    translate: 0.3rem;
                    font-weight: bold;
                }
            }
        }
        &:hover {
            .navTitle {
                border-top: 0.3rem solid $accent-color;
            }
            .dropdown {
                button {
                    display: block;
                }
            }
        }
    }
}
