@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
$font: "Poppins";
$accent-color: #be2251;
$accent-color-50: #be22516e;
$accent-color-10: #be225115;
$navbar-collapse-color: #373842;
$navbar-collapse-color-70: #373842a4;
$text-color: #d1d1d1;
$text-color-50: #a1a1a67a;
$text-color-light: #c2c2ca;
$text-placeholder-color: #a2a0a657;
$body-color: #202025;
$body-color-50: rgba(32, 32, 37, 0.6);
$container-dark: #26272f;
$white-5: #ffffff04;
$edit-hover: #4b4c58;
$checkbox-background: #a2a0a6;
$scrollbar-color: #211f25;
$soft-background: #40414b9c;
$big-btn-text-color: #a2a0a6;
$header-active-color: #be22514d;
$header-active-text: #d6d6d6;
$header-hover-color: #be225115;
$header-hover-text: #dadada;
