@import "variables";
.general {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 1rem;
}

.display {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-bottom: 1rem;
}

.picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.6rem;
    transition: 0.2s ease-in-out;
}

.file {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding-top: 0 !important;
    min-height: calc(100%) !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    button {
        border-radius: 0.4rem;
        text-align: center;
        background: $accent-color;
        color: $text-color;
        border: none;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
        min-width: fit-content;
        flex: 1;
        height: 1.45rem;
        &:hover {
            scale: 1.05;
            font-weight: bold;
        }
    }
}
