/*========== VARIABLES CSS ==========*/

@media screen and (min-width: 1024px) {
     :root {
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/*========== HEADER ==========*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--);
    /* box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1); */
    padding: 0 1rem;
    z-index: 10000;
}

.header__container {
    display: flex;
    align-items: center;
    height: 2.5rem;
    justify-content: right;
}

.header__toggle {
    font-size: 2rem;
    cursor: pointer;
}


/*========== NAV ==========*/

.nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background: var(--navbarColor);
    /* box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1); */
    z-index: 10000;
    transition: .4s;
    /* backdrop-filter: blur(30px); */
}

.nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none;
    /* For mozilla */
}


/* For Google Chrome and others */

.nav__container::-webkit-scrollbar {
    display: none;
}

.nav__logo {
    font-weight: 500;
    margin-bottom: 2.5rem;
}

.nav__list,
.nav__items {
    display: grid;
}

.nav__list {
    row-gap: 2.5rem;
}

.nav__items {
    row-gap: 1.5rem;
}

.nav__link {
    display: flex;
    align-items: center;
    color: var(--navbarTextColor);
}

.nav__link:hover {
    color: var(--first-color);
    cursor: pointer;
}

.nav__icon {
    font-size: 1.2rem;
    margin-right: .5rem;
}

.nav__name {
    font-size: .75rem;
    font-weight: 500;
    white-space: nowrap;
}

.nav__logout {
    margin-top: 5rem;
}


/* Dropdown */

.nav__dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
    background-color: var(--navbarDropdownColor);
    border-radius: .25rem;
    margin-top: 1rem;
}

.nav__dropdown-content {
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
    font-size: .75rem;
    font-weight: 500;
    color: var(--navbarTextColor);
}

.nav__dropdown-item:hover {
    color: var(--first-color);
}

.nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
}


/* Rotate icon arrow */

.nav__dropdown:hover .nav__dropdown-icon {
    color: var(--text-color);
}


/*===== Show menu =====*/

.show-menu {
    left: 0;
}


/*===== Active link =====*/

.active {
    color: var(--first-color);
}

.active .nav__dropdown-icon {
    color: var(--text-color);
}

.nav__logo-name {
    margin-bottom: -1rem;
}


/* ========== MEDIA QUERIES ==========*/

@media screen and (min-width: 768px) and (min-height: 768px) {
    .header {
        display: none;
    }
    .nav {
        left: 0;
        padding: 1.2rem 1.5rem 0;
        width: 68px;
        opacity: .6;
        /* Reduced navbar */
    }
    .nav__items {
        row-gap: 1.7rem;
    }
    .nav__icon {
        font-size: 1.3rem;
    }
    /* Element opacity */
    .nav__logo-name,
    .nav__name,
    .nav__subtitle,
    .nav__dropdown-icon {
        opacity: 0;
        transition: .3s;
    }
    /* Navbar expanded */
    .nav:hover {
        width: var(--nav-width);
        opacity: 1;
    }
    /* Visible elements */
    .nav:hover .nav__logo-name {
        opacity: 1;
    }
    .nav:hover .nav__subtitle {
        opacity: 1;
    }
    .nav:hover .nav__name {
        opacity: 1;
    }
    .nav:hover .nav__dropdown-icon {
        opacity: 1;
    }
}

.item__special {
    color: var(--specialObjectTextColor);
}