/***********************************/


/*           NOTIFICATION          */


/***********************************/

#hero-js-notification {
    position: fixed;
    top: -120px;
    display: flex;
    border-radius: 0 0 .5rem .5rem;
    backdrop-filter: blur(30px);
    flex-direction: column;
    animation: notification-animation 4s linear;
    background: var(--notificationBodyColor);
    font-size: 0.8rem;
    z-index: 100;
}

.notif-title {
    background: var(--notificationHeaderColor);
    backdrop-filter: blur(50px);
    padding-left: 1rem;
    padding-right: 2rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: var(--notificationHeaderTextColor);
}

.notif-body {
    margin-top: .4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: inline-block;
    height: 25px;
    color: var(--notificationBodyTextColor);
}

@keyframes notification-animation {
    0% {
        transform: translateY(0px);
        display: flex;
    }
    8% {
        transform: translateY(120px);
        display: flex;
    }
    92% {
        transform: translateY(120px);
        display: flex;
    }
    100% {
        transform: translateY(0px);
        display: none;
    }
}