#startMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #202025;
    height: 100vh;
    width: 100vw;
    color: #a1a1a6;
}

#startMenuImg {
    position: fixed;
    width: 200%;
    height: 35vh;
    overflow: hidden;
    object-fit: cover;
    top: 0;
    opacity: .3;
}

#fadeStart {
    position: fixed;
    width: 200%;
    height: 37vh;
    top: 0;
    background: rgb(32, 32, 37);
    background: linear-gradient(0deg, rgba(32, 32, 37, 1) 0%, rgba(32, 32, 37, 1) 14%, rgba(0, 212, 255, 0) 100%);
}

.startMenuBottom {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    margin-top: 5rem;
    position: fixed;
    height: 58vh;
    bottom: 0;
}

#StartMenuUp {
    position: fixed;
    top: 0;
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

#startMenuName {
    color: #be2251;
    font-size: 2.5rem;
}

.startMenuData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-bottom: .6rem;
}

#startMenuAuthor {
    margin-bottom: -0.9rem;
}

#startMenuJaquette {
    width: 14rem;
    height: 20rem;
    object-fit: cover;
    position: absolute;
    border-radius: .6rem;
    box-shadow: .2rem .2rem 1rem .2rem #00000075;
    animation: jaquette-anim 2s ease-in-out infinite;
    transition: .5s;
}

@keyframes jaquette-anim {
    0% {
        transform: translateY(5px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(5px);
    }
}

.subJaquette {
    width: 14rem;
    height: 20rem;
    object-fit: cover;
    border-radius: .6rem;
    opacity: 0.4;
    filter: blur(4px);
    transition: .5s;
}

.subJaquette.un {
    left: calc(50%);
    transform: scale(0.8);
}

.subJaquette.deux {
    right: calc(50%);
    transform: scale(0.8);
}

#startMenuInfos {
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 1rem;
}

#startMenuDate {
    margin-right: 1rem;
}

#startMenuDescription {
    text-align: justify;
    max-height: 15rem;
    overflow: scroll;
    width: 50%;
    overflow: scroll;
    transition: .5s;
}

#startMenuDescription::-webkit-scrollbar {
    display: none;
}

#startMenuPlay {
    border: none;
    background: none;
    color: #be2251;
    font-weight: bold;
    font-size: 3rem;
    padding: .5rem 1rem .5rem 1rem;
    transition: .5s;
    cursor: pointer;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startMenuPlay:hover {
    transform: scale(1.1);
}

#startMenuHeroLink {
    position: fixed;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .5s;
}

#startMenuHeroLink:hover {
    transform: scale(1.1);
}

.startMenuPlayText {
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    #startMenuJaquette,
    .subJaquette {
        width: 10.5rem;
        height: 15rem;
    }
    #startMenuHeroLink {
        display: none;
    }
    .startMenuPlayText {
        font-size: 1.3rem;
    }
    #startMenuDescription {
        width: 80%;
    }
    #StartMenuUp {
        height: 35vh;
    }
}